:root {
    --prism-foreground: hsl(var(--bc)); /* #abb2bfff */

    --prism-line-inserted: #00809b33; /* Set inserted line (+) color */
    --prism-line-deleted: #ff000033; /* Set deleted line (-) color */
    --prism-highlight-background: #00bcf233; /* Set highlight bg color */
    --prism-highlight-border: #00bcf299; /* Set highlight accent border color */
    --prism-line-number: hsl(var(--bc) / 0.25); /* Line number color */
}
[data-theme="light"] {
    --prism-background: #f1f1f1ff;
    --prism-selection: #bdc2d861;

    --prism-token-namespace: #186ec4ff;
    --prism-token-variable: #db1200ff;
    --prism-token-function: #7e05ffff;
    --prism-token-attr: #186ec4ff;
    --prism-token-punctuation: #414141ff;
    --prism-token-operator: #db1200ff;
    --prism-token-property: #414141ff;
    --prism-token-string: #04801fff;
    --prism-token-comment: #898a8fff;
}
[data-theme="dark"] {
    --prism-background: #1a1a24ff;
    --prism-selection: #67769660;

    --prism-token-namespace: #e5c07bff;
    --prism-token-variable: #d55fdeff;
    --prism-token-function: #61afefff;
    --prism-token-attr: #d19a66ff;
    --prism-token-punctuation: #d19a66ff;
    --prism-token-operator: #ef596fff;
    --prism-token-property: #ef596fff;
    --prism-token-string: #89ca78ff;
    --prism-token-comment: #7f848eff;
}

/**
 * Rehype Prism Plus
*/
.rehype-code-title {
    @apply rounded-t-xl border-b border-base-content/10 bg-[color:var(--prism-background)] p-2 px-6 font-mono text-xs font-bold text-base-content;
}
.rehype-code-title + div {
    @apply mt-0 rounded-b-xl rounded-t-none;
}

/**
 * Rehype Prism Plus
*/

.code-line {
    @apply -mx-4 block border-l-4 border-transparent px-4;
}
.code-highlight {
    @apply float-left min-w-full;
}

.code-line.inserted {
    @apply bg-[color:var(--prism-line-inserted)];
}
.code-line.deleted {
    @apply bg-[color:var(--prism-line-deleted)];
}
.highlight-line {
    @apply -mx-4 border-l-4 border-l-[color:var(--prism-highlight-border)] bg-[color:var(--prism-highlight-background)];
}

.line-number::before {
    @apply mr-4 -ml-2 inline-block w-4 text-right text-[color:var(--prism-line-number)] content-[attr(line)];
}

/**
 * Prism.js Theme
 * https://prism.dotenv.dev/
 * https://github.com/PrismJS/prism-themes
 * https://atelierbram.github.io/Base2Tone-prism/
 * https://k88hudson.github.io/syntax-highlighting-theme-generator/www/
*/

/* Code block */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    @apply m-0 overflow-auto whitespace-pre break-normal rounded-none bg-[color:var(--prism-background)] p-4 text-left text-sm leading-relaxed text-[color:var(--prism-foreground)];
    @apply selection:bg-[color:var(--prism-selection)] selection:text-inherit selection:shadow-none;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    @apply rounded-md p-1;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    @apply text-[color:var(--prism-token-comment)];
    font-style: italic;
}

.token.punctuation,
.token.constant,
.token.deleted,
.token.tag {
    @apply text-[color:var(--prism-token-punctuation)];
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.placeholder,
.token.variable,
.token.important,
.token.selector,
.token.statement,
.token.atrule,
.token.url,
.token.regex {
    @apply text-[color:var(--prism-token-variable)];
}

.token.builtin,
.token.changed,
.token.namespace,
.token.class-name {
    @apply text-[color:var(--prism-token-namespace)];
}

.token.property {
    @apply text-[color:var(--prism-token-property)];
}

.token.operator,
.token.entity {
    @apply text-[color:var(--prism-token-operator)];
}
.token.entity {
    @apply cursor-help;
}

.token.string,
.token.inserted {
    @apply text-[color:var(--prism-token-string)];
}

.token.attr-name,
.token.char,
.token.number,
.token.hexcode,
.token.boolean {
    @apply text-[color:var(--prism-token-attr)];
}

.token.function,
.token.content {
    @apply text-[color:var(--prism-token-function)];
}

.token.important,
.token.bold {
    @apply font-bold;
}
.token.italic {
    font-style: italic;
}
